<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pie.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PostInEnglish</name>
    <description>
        Post In English App
    </description>
    <author email="shwetasingh84@gmail.com" href="http://cordova.io">
        Shweta Singh
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
